@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    transition: all .4s cubic-bezier(.89,.1,.45,.27);
}

input,button,textarea{
    font: inherit;
}
a{
    color: inherit;
    text-decoration: none;
}

html{
    font-size:62.5%;
}